* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  /* max-height: 100vh; */
}

html {
  background-color: mediumslateblue;
}

body {
  background-color: midnightblue;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 12px -2px black;
  max-width: 80vw;
  border-left: 3px solid black;
  border-right: 3px solid black;
  /* max-height: 100vh; */
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  margin: 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: slategray;
  color: ghostwhite;
  box-shadow: 0 0 12px -2px black;
  border: 3px solid black;
  border-radius: 30px;
  opacity: 95%;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: slategray;
  color: ghostwhite;
  box-shadow: 0 0 12px -2px black;
  border: 3px solid black;
  border-radius: 30px;
  opacity: 95%;
}

a {
  text-decoration: none;
  font-size: x-large;
  margin: 0 5px;
  color: ghostwhite;
}

.active {
  border-bottom: 1px solid ghostwhite;
}

main {
  min-height: 100vh;
  box-shadow: 0 0 12px -2px black;
  color: ghostwhite;
  padding: 85px 24px 96px;
}

main img {
  float: right;
  width: 250px;
  margin: 10px 0 10px 10px;
  border: 3px solid ghostwhite;
  border-radius: 200px;
  background-color: steelblue;
}

h2 {
  font-size: 2em;
  padding: 20px 0;
}

p {
  margin: 1em 0 1em;
}

main .quote {
  font-size: 30px;
  text-align: center;
  margin-top: 10em;
  font-style: italic;
}

section {
  border-top: 1px solid ghostwhite;
}

#about-header {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.about-img {
  width: 150px;
  margin-top: -4em;
  overflow-y: hidden;
}
